* {
    font-family:san-serif;
    font-size: 20px;
}

html {
    font-family: san-serif;
    font-size: 20px;'
}

.container-fluid{
    background-color: black;
    color: white;
    opacity: 0.9px;
}
.container{
    color: white;
    opacity: 0.9px;
    text-align:center;

}