{% extends 'base.html'%}

{% block content %}
<div class="container-fluid">
  <h1 class="text-center">PRESENT YOUR PITCH TODAY</h1>
  <div class="row">
    <div class="panel panel-default panel-heading"><a href="/pitch//new">Promotion</a></div>
    <div class="panel panel-default panel-heading"><a href="category/pickup">Pick up</a></div>
    <div class="panel panel-default panel-heading"><a href="/category/production">Production</a></div>
    <div class="panel panel-default panel-heading"><a href='/category/interview'>Interview</a></div>
</div>
</div>
  {% endblock%}
  <!--<p>Click <a href="{{ url_for('auth.register') }}">here</a> to sign up to make a pitch.  </p>-->
  <!--<p>If already signed up click <a href="{{ url_for('auth.login') }}">here</a> to log in.</p>-->
  <!--<p>Click<a href="{{ url_for('main.new_pitch') }}"> here </a>to create a pitch or view existing Pitches.</p>-->
<!--</div>-->